@import "tailwindcss";
.swiper-button-next,
.swiper-button-prev {
  width: 24px !important;
  height: 24px !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 8px !important;
  font-weight: bold;
}